name: Remove Function Name Prefixes

on:
  workflow_call:
  pull_request:

jobs:
  remove-function-prefix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          git pull origin ${{ github.ref_name }}
          for file in $(find ./snippets/functions/  -type f -name '*.js'); do 
            if [[ "$file" == *"_"* ]];then
                justfile=$(basename -- "$file")
                justpath=$(dirname "$file")
                # echo $justfile
                justfile="${justfile#*_}"
                echo $justpath/$justfile
                mv -n $file $justpath/$justfile
            fi 
          done
          git config --global user.email "caleb.thompson@mongodb.com"
          git config --global user.name "ActionBot"
          git commit -m 'test'
          git push -f
          git reset origin/${{ github.ref_name }} --soft
