name: Remove Function Name Prefixes

on:
  workflow_call:
  push:

jobs:
  remove-function-prefix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          git pull origin ${{ github.ref }}
          for file in $(find ./snippets/functions/  -type f -name '*.js'); do 
            if [[ "$file" == *"_"* ]];then
                justfile=$(basename -- "$file")
                justpath=$(dirname "$file")
                justfile="${justfile#*_}"
                echo "was:" $file
                echo "saving as" $justpath/$justfile
                mv -n $file $justpath/$justfile
            fi 
          done
          if [  -z "$(git diff --name-only)" ]; then
            git add .
            git config --global user.email "caleb.thompson@mongodb.com"
            git config --global user.name "ActionBot"
            git commit -m 'remove function name prefix'
            git push origin ${{ github.ref }}
          fi

          echo "done"